<html>
  <head>
    <title>Related Keywords</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <table border="1" class="dataframe">
      <thead>
        <tr style="text-align: left;">
          <th></th>
          <th>keyword</th>
          <th>relevance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>0</th>
          <td>best dad ever</td>
          <td>1250</td>
        </tr>
        <tr>
          <th>1</th>
          <td>best dad gifts</td>
          <td>1250</td>
        </tr>
        <tr>
          <th>2</th>
          <td>best dad jokes</td>
          <td>1250</td>
        </tr>
        <tr>
          <th>3</th>
          <td>best dad hats</td>
          <td>850</td>
        </tr>
        <tr>
          <th>4</th>
          <td>best dad birthday gifts</td>
          <td>650</td>
        </tr>
        <tr>
          <th>5</th>
          <td>best dad ever shirt</td>
          <td>602</td>
        </tr>
        <tr>
          <th>6</th>
          <td>best dad award</td>
          <td>601</td>
        </tr>
        <tr>
          <th>7</th>
          <td>best dad by par</td>
          <td>601</td>
        </tr>
        <tr>
          <th>8</th>
          <td>best dad cars</td>
          <td>601</td>
        </tr>
        <tr>
          <th>9</th>
          <td>best dad diaper bag</td>
          <td>601</td>
        </tr>
        <tr>
          <th>10</th>
          <td>best dad ever bruins shirt</td>
          <td>601</td>
        </tr>
        <tr>
          <th>11</th>
          <td>best dad frame</td>
          <td>601</td>
        </tr>
        <tr>
          <th>12</th>
          <td>best dad gifts 2019</td>
          <td>601</td>
        </tr>
        <tr>
          <th>13</th>
          <td>best dad hands down</td>
          <td>601</td>
        </tr>
        <tr>
          <th>14</th>
          <td>best dad in the world</td>
          <td>601</td>
        </tr>
        <tr>
          <th>15</th>
          <td>best dad jokes reddit</td>
          <td>601</td>
        </tr>
        <tr>
          <th>16</th>
          <td>best dad advice</td>
          <td>600</td>
        </tr>
        <tr>
          <th>17</th>
          <td>best dad bod</td>
          <td>600</td>
        </tr>
        <tr>
          <th>18</th>
          <td>best dad cup</td>
          <td>600</td>
        </tr>
        <tr>
          <th>19</th>
          <td>best dad daughter songs</td>
          <td>600</td>
        </tr>
        <tr>
          <th>20</th>
          <td>best dad ever mug</td>
          <td>600</td>
        </tr>
        <tr>
          <th>21</th>
          <td>best dad fathers day</td>
          <td>600</td>
        </tr>
        <tr>
          <th>22</th>
          <td>best dad gifts amazon</td>
          <td>600</td>
        </tr>
        <tr>
          <th>23</th>
          <td>best dad hats 2019</td>
          <td>600</td>
        </tr>
        <tr>
          <th>24</th>
          <td>best dad in the galaxy</td>
          <td>600</td>
        </tr>
        <tr>
          <th>25</th>
          <td>best dad jokes ever</td>
          <td>600</td>
        </tr>
        <tr>
          <th>26</th>
          <td>best dad and daughter songs</td>
          <td>567</td>
        </tr>
        <tr>
          <th>27</th>
          <td>best dad coloring pages</td>
          <td>567</td>
        </tr>
        <tr>
          <th>28</th>
          <td>best dad drawings</td>
          <td>567</td>
        </tr>
        <tr>
          <th>29</th>
          <td>best dad family vehicle</td>
          <td>567</td>
        </tr>
        <tr>
          <th>30</th>
          <td>best dad in the seven kingdoms</td>
          <td>567</td>
        </tr>
        <tr>
          <th>31</th>
          <td>best dad award gif</td>
          <td>566</td>
        </tr>
        <tr>
          <th>32</th>
          <td>best dad books</td>
          <td>566</td>
        </tr>
        <tr>
          <th>33</th>
          <td>best dad certificate</td>
          <td>566</td>
        </tr>
        <tr>
          <th>34</th>
          <td>best dad day gifts</td>
          <td>566</td>
        </tr>
        <tr>
          <th>35</th>
          <td>best dad for owain</td>
          <td>566</td>
        </tr>
        <tr>
          <th>36</th>
          <td>best dad gif</td>
          <td>566</td>
        </tr>
        <tr>
          <th>37</th>
          <td>best dad hashtags</td>
          <td>566</td>
        </tr>
        <tr>
          <th>38</th>
          <td>best dad in the galaxy shirt</td>
          <td>566</td>
        </tr>
        <tr>
          <th>39</th>
          <td>best dad jokes 2019</td>
          <td>566</td>
        </tr>
        <tr>
          <th>40</th>
          <td>best dad actors</td>
          <td>565</td>
        </tr>
        <tr>
          <th>41</th>
          <td>best dad blogs</td>
          <td>565</td>
        </tr>
        <tr>
          <th>42</th>
          <td>best dad caps</td>
          <td>565</td>
        </tr>
        <tr>
          <th>43</th>
          <td>best dad diaper bag 2019</td>
          <td>565</td>
        </tr>
        <tr>
          <th>44</th>
          <td>best dad ever hat</td>
          <td>565</td>
        </tr>
        <tr>
          <th>45</th>
          <td>best dad for inigo</td>
          <td>565</td>
        </tr>
        <tr>
          <th>46</th>
          <td>best dad gadgets</td>
          <td>565</td>
        </tr>
        <tr>
          <th>47</th>
          <td>best dad hands down template</td>
          <td>565</td>
        </tr>
        <tr>
          <th>48</th>
          <td>best dad i ever saw</td>
          <td>565</td>
        </tr>
        <tr>
          <th>49</th>
          <td>best dad jokes for tinder</td>
          <td>565</td>
        </tr>
      </tbody>
    </table>
  </body>
 </html>
