<html>
  <head>
    <title>Keywords a-z tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Enter your keyword</h1>
      <h2>to receive suggestions</h2>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Keyword" name="queryroot" value="{{
          request.form.queryroot }}">
        <input class="btn btn-success" type="submit" value="Submit">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
    <div class="container">
      {{suggestion_list | safe}}
    </div>
  </body>
</html>